<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="static/css/zhuce.css" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="../static/css/zhuce.css" >
</head>
<body  class="yemian" >
  


    <table class="biaodan" align="center" width="800" height="600" border="0"  >    
        <tr>
            <td colspan="2" ><h1 class="totaltitle"> 欢迎注册云上交大</h1>
            </td>
        </tr>
        <tr>
            <td >姓名：</td>
            <td><input type ="text"  class="lei3"></td>
        </tr>        
        <tr>
            <td>性别：</td>
            <td>
                <input type ="radio" name="sex" id="nan" class="sexname"> <label for ="nan" > 男  <img src ="static/img/men.jpg" width="30" ></label>
                <input type ="radio" name="sex" id="nv" class="sexname"><label for="nv"> 女  <img src ="static/img/woman.jpg" width="30"> </label>
            </td>
        </tr>
    <tr>
<!-- ----------- -->
      <td>入学年份：</td>
      <td>
        <select class="lei1">
            <option>--请选择入学年份--</option>
            <option>2022</option>
            <option>2021</option>
            <option>2020</option>
            <option>2019</option>
            <option>已毕业</option>
            <option>未入学</option>
         </select>
      </td>
    </tr>
      <!-- ----------- -->
    <tr>
        <td class="lei4">所在地区：</td>
        <td><input type ="text" value="四川成都" class="lei2"></td>
    </tr>
    <tr>
        <td>当前学历：</td>
        <td><select class="lei1" >
            <option>在校大学生</option>
            <option>硕士</option>
            <option>博士</option>
            <option>中学</option>
            <option>小学</option>
            <option>其他</option>
         </select></td>
    </tr>
    <tr>
        <td>在哪些内容对交大感兴趣</td>
        <td>
            <input type="checkbox" id="history"> <label for ="history">交大历史</label>
            <input type="checkbox" id="location"> <label for ="location">交大地标</label>
            <input type="checkbox" id="shop"> <label for ="shop">交大商铺</label>
            <input type="checkbox" id="club"> <label for ="club">校园社团</label>
        </td>
    </tr>
    <tr>
        <td>个人简介</td>
        <td>
            <textarea col="20" rows="5" class="selfintro">介绍一下自己，让更多的人认识你</textarea>
        </td>
    </tr>
    <tr>
         
        <td colspan="2" >
            <a href="../../cloudswjtu_index/templates/index.html"><input type="submit" value="立即注册" class="submitbottom"></a>
        </td>
    </tr>
    <tr>
        
        <td colspan="2" >
            <input type="checkbox" checked="checked"> 我自愿遵守国家法律法规与网页相关规则
        </td>
    </tr>
    </table>

</body>
</html>
