<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../static/css/denglu.css">
<body>
    
    <table class="biaodan" align="center" width="500" height="400" border="0"  >    
        <tr>
            <td colspan="2" ><h1 class="totaltitle"> 欢迎登录云上交大</h1>
            </td>
        </tr>
        <tr>
            <td class="xinxi1" >账号：</td>
            <td><input type ="text"  class="lei2"></td>
        </tr>        
        <tr>
            <td class="xinxi1">密码：</td>
                <td><input type ="password"  class="lei2"></td>
        </tr>
      
    <tr>
        <td colspan="2" >
            <input type="checkbox" checked="checked" > <label class="beizhu" >我自愿遵守国家法律法规与网页相关规则</label>
        </td>
    </tr>   
    <tr>
        <td colspan="2" class="zhucejian">
            <a href="./注册页面.html" target="_blank">还没账号？马上注册！</a> 
        </td>
    </tr>
    <tr>
         <td colspan="2" >
            <a href="../../cloudswjtu_index/templates/index.html"><input type="submit" value="进入云上交大" class="denglujian"></a>
        </td>
    
    </table>
</body>
</html>
